<%# display for search result %>

<% if @search_result.any? %>
  <% @search_result.each do |result|  %>
    <ul>
      <li><a href="/albums/<%= result.id%>"> <%= result.name %></a></li>
    </ul> 
    <%end%>
  <% else %>
   <p>There are no records that match your search</p>
<% end %>