<h1>All Sales Vinyl</h1>

<h3>Available Records</h3>

<% if @artists %>
  <ul>
    <% @artists.each do |artist| %>
      <li><a href="/artists/<%= artist.id %>"><%= artist.name %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no artists to display.</p>
<% end %>

<button class="btn-success"><a href="/artists/new">Add a new artist</a></button>

<form action="/artists/search" method="get">
  <div>
    <label for="search">Search</label>
    <input id="search" name="search" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>

