<!DOCTYPE html>
<html>
  <head>
    <title>All Sales Vinyl</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link href="/styles.css" rel ='stylesheet' type ='text/css'>
  </head>
  <body>
    <div class="container">
      <%= yield %>
      <button class="btn-warning"><p><a href="/artists">artist list</a></p></button>
      <button class="btn-danger"><p><a href="/albums">album list</a></p></button>
    </div>
  </body>
</html>