<h1>Add a new Artist</h1>

<form action="/artists" method="post">
  <div class="form-group">
    <label for="artist_name">Artist name</label>
    <input id="name" name="artist_name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>